# Configuration for pr2_onTrayObstacles problem

# ========================== hyper parameters for ELS ===================================================================================
LGP/level_wP: 3.
LGP/level_cP: 2
LGP/skeleton_wP: 0.7
LGP/waypoint_w0: 10.
LGP/skeleton_w0: 1
LGP/waypoint_wP: 3.
# ========================== hyper parameters for ELS ===================================================================================

runSeed: 0
solver: ELS
predictionType: none
Bandit/beta: 0.999
KOMO/waypointsInitNoise: 0.2
LGP/evalLimit: 1000

opt/verbose: 0
opt/boundedNewton: true
AStar/verbose: 2
LGP/verbose: 1
