folFile: "../models/fol-pnp-push.g"
# confFile:  "../models/workshopTable-push.g" # ball, stick,  block1 , block2
# confFile:  "../models/workshopTable-push-small.g" # ball, stick, block1
confFile:  "../models/workshopTable-push-tiny.g" # ball, stick
planFile: "kaka.sas_plan"
sktFile: "tmp.skt"

#NOTE: 
# I run the plans with:
# timeout 100  python3 generate_diverse_prefix.py --config rai_push.cfg --N 1 --display

# Tiny, Small and standard
goal: "(on r_gripper ball2)" # Requires 4 actions. TINY OK ;  SMALL OK ; STANDARD OK
# goal: "(on l_gripper ball2)" # Requires 5 actions. TINY OK ; SMALL OK (longer) ;  Timeout 100 seconds 

# Small and Standard
# goal: "(on block1 ball2)" # Requires 5 actions; SMALL OK ; Standard OK
# goal: "(on block1 ball2) (on r_gripper block1)" # Requires 6 actions; SMALL OK ; either timeout 100 second / solve around 100 seconds

# Standard
# goal: "(on block1 ball2) (on block2 block1)" # Requires 7 actions; Standard; timeout 100 seconds

# TODO (need fixing implementation)
# goal: "(on block1 ball2) (on l_gripper block1)" # Requires 7 actions, but NO SOLUTION (TODO: QUIM FIX THAT STICK CAN BE LEFT IN TABLE)
# goal: "(on block1 stick1) (on r_gripper ball2)" # Requires 7 actions. NOT SOLVING: TODO: QUIM fix prefix place object on top of itself.

LGP/verbose:2
LGP/stopSol:1
LGP/stopTime: 400 # in seconds
