folFile: "../models/fol-pnp-hanoi.g"
confFile:  "../models/workshop-hanoi.g"
planFile: "kaka.sas_plan"
sktFile: "tmp.skt"


# goal:"(on box2 block3)" # easy

# goal:"(on box2 block2) (on block2 block3)" # This does not work because you can not do handover...

# goal:"(on box3 block2) (on block2 block3)" # OK

goal:"(on box3 block1) (on block1 block2) (on block2 block3)" # difficult

# todo: they are trying to build towers...

# todo: I should write down and check that it works...
LGP/verbose:2
LGP/stopSol:1
LGP/stopTime: 400 # in seconds
