# Configuration for GITTINS runs

# ========================== Experiment Parameters ==================================================================
numIterations: 100
runSeed: 0
# ====================================================================================================================

# ========================== Solver Settings =========================================================================
solver: GITTINS
predictionType: GNN
# ====================================================================================================================

# ========================== GITTINS Parameters ======================================================================
GITTINS/numWaypoints: 50
numTaskPlans: 5
Bandit/beta: 0.999
# ====================================================================================================================

# ========================== Model Paths =============================================================================
# GNN/modelsDir: should be full path to models dir
GNN/verbose: 0
device: "cuda"
# ====================================================================================================================

# ========================== Other Settings ==========================================================================
KOMO/waypointsInitNoise: 5
LGP/evalLimit: 180
opt/verbose: 0
AStar/verbose: 1
LGP/verbose: 0
# ====================================================================================================================
