# Base configuration for Data Size Experiment

# ========================== Experiment Parameters ==================================================================
numIterations: 100
runSeed: 0

# Configuration family bounds (will be overridden by command line)
numObjLowerBound: 2
numObjUpperBound: 2
numGoalsUpperBound: 2
numBlockedGoalsUpperBound: 2

# Data percentage (will be overridden by command line)
dataPercentage: 1.0
# ====================================================================================================================

# ========================== Solver Settings =========================================================================
# Default solver (will be overridden for specific runs)
solver: GITTINS
predictionType: GNN
mode: "run"
# ====================================================================================================================

# ========================== GITTINS Parameters ======================================================================
GITTINS/numWaypoints: 30
numTaskPlans: 5
Bandit/beta: 0.9999
# ====================================================================================================================

# ========================== ELS Parameters ==========================================================================
LGP/level_wP: 3.
LGP/level_cP: 3
LGP/skeleton_wP: 3.
LGP/waypoint_w0: 1.
LGP/skeleton_w0: 1
LGP/waypoint_wP: 3.
# ====================================================================================================================

# ========================== Model Paths =============================================================================
# put / in the end of the path
# GNN/modelsDir: should be full path to models dir
GNN/verbose: 0
device: "cuda"
# ====================================================================================================================

# ========================== Other Settings ==========================================================================
KOMO/waypointsInitNoise: 5
LGP/evalLimit: 180
opt/verbose: 0
AStar/verbose: 0
AStar/AstarVerbose: 0
LGP/verbose: 0
GNN/gnn_verbose: 0
# ====================================================================================================================
