LGP/verbose: 0
opt/verbose: 0
rrt/verbose: 0
AStar/verbose: 0

# These MUST match the "exp/" scope in your C++ code
exp/lgpFilesPath: ../problemGenerators/pr2_onTrayObstacles/pr2-onTray.lgp
exp/configPath: ../problemGenerators/pr2_onTrayObstacles/pr2-onTray.g
exp/dataPath: ../data/pr2_onTrayObstacles/
exp/single_config: false
exp/num_problems: 50
exp/agent_id: 0
KOMO/waypointsInitNoise: 0.2